<div class="formcontainer p-5">
  <form class="d-flex justify-content-center flex-column">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>First name</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Last name</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput />
    </mat-form-field>

    <div class="buttondiv d-flex flex-column ">
      <button mat-raised-button color="primary">Login</button>
      <br>
      <button mat-raised-button color="primary">Signup</button>
    </div>




  </form>
</div>
